            <div id="footer" class="info">
                <p>Everytime Lecture Stats Viewer</p>
                <p>By 4 Cute Python Lovers</p>
            </div>
        </div>
    </div>
</body>
</html>