<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="에브리타임 - 강의평 모아보기">
    <meta property="og:description" content="데이터 통계 기반의 가장 정확한 수강신청 길잡이">
    <meta property="og:image" content="/images/main.png">
    <title>에브리타임 - 강의평 모아보기</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="bg">
        <div class="board">
            <div id="header" class="info">
                <span>
                    <h1 id="title"><a href="/">Lecture Stats</a></h1>
                </span>
                <nav class="nav_bar" id="nav1">
                    <span><a href="/major"><h4>전공 강의</h4></a></span>
                    <span><a href="/general"><h4>교양 강의</h4></a></span>
                    <span><a href="/edu"><h4>교직 강의</h4></a></span>
                    <span><a href="/etc"><h4>일선 강의</h4></a></span>
                </nav>
            </div>