<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="에브리타임 - 강의평 모아보기">
    <meta property="og:description" content="데이터 통계 기반의 가장 정확한 수강신청 도우미">
    <meta property="og:image" content="/images/main.png">
    <title>에브리타임 - 강의평 모아보기</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>

</head>

<body>
    <div class="bg">
        <div class="board">
            <div class="header">
                <h1 id="title">Lecture Stats</h1>
                <nav class="nav_bar" id="nav1">
                    <span><h4>과목별 조회</h4></span>
                    <span><h4>교수별 조회</h4></span>
                    <span><h4>강의 통계</h4></span>
                </nav>
            </div>
            
            
            <div id="data">
                <nav class="nav_bar" id="nav2">
                    <span><h5>전공</h5></span>
                    <span><h5>교양</h5></span>
                    <span><h5>교직</h5></span>
                    <span><h5>일선</h5></span>
                    <!-- if (전공 == 참)일경우 document.write(밑에 3줄)-->
                    <span><h5>단과대</h5></span>
                    <span><h5>전공</h5></span>
                    <span><h5>학년</h5></span>
                    

                    <!-- <span><input></span> -->
                </nav>
                <nav class="nav_bar" id="nav3">
                    <span><h5>평가 높은 순</h5></span>
                    <span><h5>평가 낮은 순</h5></span>
                    <span><h5>평가 많은 순</h5></span>
                    <span>
                        <input>
                        <h5>검색</h5>
                    </span>
                </nav>
                <div class="sources">
                    <table>
                        <tbody>
                            <tr id="line">
                                <td>
                                    <h3>
                                        강의명
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        교수명
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        구분
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        평가
                                    </h3>
                                </td>
                            </tr>
                        </tbody>
                        <!-- 10개마다 페이지 넘어가게 만들기 -->
                        <tfoot>
                            <script>
                                for(let i = 0; i < arr.length; i++) {
                                    document.write("<tr>");
                                        document.write("<td>");
                                            document.write("<h5>");
                                                    document.write(arr[i][0]);
                                            document.write("</h5>");
                                        document.write("</td>");
                                        document.write("<td>");
                                            document.write("<h5>");
                                                document.write(arr[i][1]);
                                            document.write("</h5>");
                                        document.write("</td>");
                                        document.write("<td>");
                                            document.write("<h5>");
                                                document.write(arr[i][2]);
                                            document.write("</h5>");
                                        document.write("</td>");
                                        document.write("<td>");
                                            document.write("<h5>");
                                                document.write(arr[i][3] * 5);
                                                document.write(" (" + arr[i][4] + ")");
                                            document.write("</h5>");
                                        document.write("</td>");
                                    document.write("</tr>");
                                }
                                    
                            </script>
                        </tfoot>
    
                    </table>
                </div>
            </div>
        <div class="footer">
            <p>Everytime Lecture Stats Viewer</p>
            <p>By 4 Cute Python Lovers</p>
        </div>
            
        </div>
        
    </div>
</body>
</html>