body {
    background-color: #1B5465;
    color: white;
    font-family: 'TSTAR', 'paybooc-Medium', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    
}

@font-face {
    font-family: 'TSTAR';
    src:url('TSTAR-PRO-Bold.otf') format('woff'),
        url('TSTAR-PRO-Bold.otf') format('woff2');
    /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
    font-weight: 400;
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* #title {
    color: #e2efff;
} */

p {
    line-height: 200%;
    vertical-align: middle;
    word-break:keep-all;
}

.bg {
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url( "earth-wallpaper.jpg" ); */
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center;
    height : 100vh;
}

.board {
    height: 100%;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.data {
    border-style: solid none none none;
    border-top: #292b2d 1px;
}

.nav_bar {
    display: grid;
    padding: 0 5%;
    color:#F2F2F2
}


#nav1 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    /* color: #e2efff; */
}

#nav2 {
    grid-template-columns: repeat(7, 1fr);
    /* width: 50%; */
    column-gap: 5%;
    background-color: #116F92;
}

#nav3 {
    /* width: 50%; */
    grid-template-columns: 20% 20% 20% 40%;
}

/* #nav2 span{
    background-color: #F87F0D;
    border-radius: 12px;
    height: 30px;
    margin: 12px 0;
    align-items: center;
} */

input {
    width: 50%;
}

#data {
    background-color: #F2F2F2;
    color: black;
}

#nav_bar input {
    display: inline-block;
}
.nav_bar h4 {
    display: inline-block;
    word-break: keep-all;
}

.nav_bar h5 {
    display: inline-block;
    word-break: keep-all;
    padding: 0 5%;
}

.nav_bar h4:hover {
    color: #a494a5;
    cursor: pointer;
}
.nav_bar h5:hover {
    color: #a4a594;
    cursor: pointer;
}

table {
    padding: 0 5%;
}
/* 
#nav2 span {
    min-width: 80px;
    max-width: 120px;
} */

table h5 {
    display: inline;
    
}

tbody {
    font-family: 'paybooc-Medium';
    font-weight: 600;
}

tfoot {
    font-family: 'paybooc-Medium';
    text-align: center;
}

tfoot tr {
    height: 24px;
}

/* tfoot tr:nth-child(2n+1) td:nth-child(2){
    font-size: small;
    color:#9a9a9a;
} */

tfoot tr:nth-child(2n) {
    font-size: small;
    color:#9a9a9a;
}
tbody td:nth-child(1) {
    width: 70%;
    text-align: center;
    min-width: 240px;
}

tbody td:nth-child(2) {
    text-align: center;
    width: 20%;
    min-width: 60px;
}

tbody td:nth-child(3) {
    width: 20%;;
    text-align: center;
    min-width: 60px;
}

tfoot tr td:nth-child(1) {
    text-align: left;
}

tfoot tr:nth-child(2n) td:nth-child(2) {
    text-align: right;
    width: 50%;
}

tr td:nth-child(1) h5:hover {
    color: #F26A1B;
    cursor: pointer;
}




.sources {
    padding: 40px 0;
    
}

.sources table{
    margin: 0 auto;
    align-items: center;
    padding: 0 40px;
}

.sources tfoot {
    height: 20px;
}

.footer {
    /* color: #f2f8ff; */
    padding: 2% 0;
}
