@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@font-face {
  font-family: "TSTAR";
  src: url("TSTAR-PRO-Bold.otf") format("woff"), url("TSTAR-PRO-Bold.otf") format("woff2");
  /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
  font-weight: 400;
}
@font-face {
  font-family: "CBNU-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paybooc-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paybooc-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#title a {
  text-decoration: none;
}
#title a:link {
  color: #e2efff;
}
#title a:visited {
  color: #e2efff;
}
#title a:hover {
  color: #F2F2F2;
}
#title:hover {
  cursor: pointer;
}

body {
  background-color: #116F92;
  color: white;
  font-family: "paybooc-Medium", "TSTAR", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.info {
  font-family: "TSTAR", "paybooc-Medium";
  color: #e2efff;
}

p {
  line-height: 200%;
  vertical-align: middle;
  word-break: keep-all;
}

.bg {
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url( "earth-wallpaper.jpg" ); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.board {
  height: 100%;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_bar {
  display: grid;
  padding: 0;
  color: #F2F2F2;
}
.nav_bar h4 {
  display: inline-block;
  word-break: keep-all;
}
.nav_bar h4:hover {
  color: #a4a594;
  cursor: pointer;
}
.nav_bar h5 {
  display: inline-block;
  word-break: keep-all;
  padding: 0 5%;
}
.nav_bar h5:hover {
  color: #a4a594;
  cursor: pointer;
}

.nav_bar input {
  display: inline-block;
  width: 50%;
}

table a {
  text-decoration: none;
}
table a:link {
  color: black;
}
table a:visited {
  color: black;
}
table a:hover {
  color: #F26A1B;
}

#nav1 a:link {
  color: #F2F2F2;
}
#nav1 a:visited {
  color: #F2F2F2;
}
#nav1 a:hover {
  color: #F2F2F2;
}

#nav1 {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
  padding: 0 5%;
  /* color: #e2efff; */
}

#nav2 {
  grid-template-columns: repeat(4, 1fr);
  /* width: 50%; */
  column-gap: 5%;
  background-color: #116F92;
}

#nav3 {
  display: flex;
  background-color: #F2F2F2;
  justify-content: flex-end;
}
#nav3 select {
  /* 생략 */
  min-width: 120px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0 6px;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
#nav3 select:hover {
  border-color: #888;
}
#nav3 select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  color: #222;
  outline: none;
}
#nav3 select:disabled {
  opacity: 0.5;
}

#table tfoot {
  animation: fade-in 2s forwards;
}
/* #nav2 span{
    background-color: #F87F0D;
    border-radius: 12px;
    height: 30px;
    margin: 12px 0;
    align-items: center;
} */
#body {
  background-color: #F2F2F2;
  color: black;
  padding-bottom: 60px;
  min-height: 70%;
}

.sources {
  padding: 40px 0;
  max-width: 960px;
  margin: 0 auto;
}
.sources table {
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
.sources table tbody td:nth-child(1) {
  width: 70%;
  text-align: center;
  min-width: 186px;
}
.sources table tbody td:nth-child(2) {
  text-align: center;
  width: 30%;
  min-width: 60px;
}
.sources table tfoot {
  font-family: "CBNU-Regular";
  text-align: center;
}
.sources table tfoot tr {
  height: 24px;
}
.sources table tfoot tr td:nth-child(1) {
  text-align: left;
  padding-left: 5px;
}
.sources table tfoot tr td:nth-child(1) h5:hover {
  color: #F26A1B;
  cursor: pointer;
}
.sources table tfoot tr:nth-child(n) {
  vertical-align: bottom;
}
.sources table tfoot tr:nth-child(n) td:nth-child(2) {
  vertical-align: middle;
}
.sources table tfoot tr:nth-child(2n) {
  vertical-align: top;
  font-size: small;
  color: #9a9a9a;
}
.sources table tfoot tr:nth-child(2n) td:nth-child(2) {
  text-align: right;
  width: 50%;
}
.sources table h5 {
  display: inline;
}

.box-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10% 2%;
}
.box-bar .detail-box {
  padding: 0 2%;
}
.box-bar .detail-box h4 {
  font-size: 1vmax;
}
.box-bar .detail-box p {
  font-size: 0.75vmax;
}

.switch-button {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}
.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switch-info {
  height: 30px;
  vertical-align: middle;
}
#switch-info p {
  display: inline-block;
  margin: 0 6px;
  color: #9a9a9a;
  font-size: 10px;
}

.onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ccc;
  box-shadow: inset 1px 5px 1px #999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.onoff-switch:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
}

.switch-button input:checked + .onoff-switch {
  background-color: #116F92;
  box-shadow: inset 1px 5px 1px #1B5465;
}

.switch-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.button-search,
.button-search::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button-search {
  min-width: 60px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0 6px;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.button-search::before,
.button-search::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}

.button-search:hover {
  color: #1B5465;
  cursor: pointer;
}

/* 
#nav2 span {

    max-width: 120px;
} */
/* tfoot tr:nth-child(2n+1) td:nth-child(2){
    font-size: small;
    color:#9a9a9a;
} */
#footer {
  /* color: #f2f8ff; */
  padding: 2% 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}