@charset "UTF-8";
@font-face {
  font-family: "TSTAR";
  src: url("TSTAR-PRO-Bold.otf") format("woff"), url("TSTAR-PRO-Bold.otf") format("woff2");
  /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
  font-weight: 400;
}
@font-face {
  font-family: "CBNU-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paybooc-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paybooc-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #1B5465;
  color: white;
  font-family: "paybooc-Medium", "TSTAR", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.info {
  font-family: "TSTAR", "paybooc-Medium";
  color: #e2efff;
}

p {
  line-height: 200%;
  vertical-align: middle;
  word-break: keep-all;
}

.bg {
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url( "earth-wallpaper.jpg" ); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.board {
  height: 100%;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_bar {
  display: grid;
  padding: 0 5%;
  color: #F2F2F2;
}
.nav_bar h4 {
  display: inline-block;
  word-break: keep-all;
}
.nav_bar h4:hover {
  color: #a4a594;
  cursor: pointer;
}
.nav_bar h5 {
  display: inline-block;
  word-break: keep-all;
  padding: 0 5%;
}
.nav_bar h5:hover {
  color: #a4a594;
  cursor: pointer;
}

.nav_bar input {
  display: inline-block;
  width: 50%;
}

#nav1 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  /* color: #e2efff; */
}

#nav2 {
  grid-template-columns: repeat(7, 1fr);
  /* width: 50%; */
  column-gap: 5%;
  background-color: #116F92;
}

#nav3 {
  /* width: 50%; */
  grid-template-columns: 20% 20% 20% 40%;
}

/* #nav2 span{
    background-color: #F87F0D;
    border-radius: 12px;
    height: 30px;
    margin: 12px 0;
    align-items: center;
} */
#body {
  background-color: #F2F2F2;
  color: black;
  padding-bottom: 60px;
}

.sources {
  padding: 40px 0;
}
.sources table {
  margin: 0 auto;
  align-items: center;
  padding: 0 5%;
  max-width: 960px;
}
.sources table tbody td:nth-child(1) {
  width: 70%;
  text-align: center;
  min-width: 240px;
}
.sources table tbody td:nth-child(2) {
  text-align: center;
  width: 20%;
  min-width: 60px;
}
.sources table tbody td:nth-child(3) {
  width: 20%;
  text-align: center;
  min-width: 60px;
}
.sources table tfoot {
  font-family: "CBNU-Regular";
  text-align: center;
  height: 20px;
}
.sources table tfoot tr td:nth-child(1) {
  text-align: left;
}
.sources table tfoot tr td:nth-child(1) h5:hover {
  color: #F26A1B;
  cursor: pointer;
}
.sources table tfoot tr:nth-child(2n) {
  font-size: small;
  color: #9a9a9a;
}
.sources table tfoot tr:nth-child(2n) td:nth-child(2) {
  text-align: right;
  width: 50%;
}
.sources table h5 {
  display: inline;
}

.box-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 5%;
}
.box-bar .detail-box {
  padding: 0 5%;
}
.box-bar .detail-box h4 {
  font-size: 1.75vmax;
}
.box-bar .detail-box p {
  font-size: 1.25vmax;
}

/* 
#nav2 span {
    min-width: 80px;
    max-width: 120px;
} */
/* tfoot tr:nth-child(2n+1) td:nth-child(2){
    font-size: small;
    color:#9a9a9a;
} */
#footer {
  /* color: #f2f8ff; */
  padding: 2% 0;
}