body {
    background-color: #333333;
    color: whitesmoke;
    font-family: 'TSTAR', 'ChungbukNationalUniversity-Regular', Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    
}

@font-face {
    font-family: 'TSTAR';
    src:url('TSTAR-PRO-Bold.otf') format('woff'),
        url('TSTAR-PRO-Bold.otf') format('woff2');
    /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
    font-weight: 400;
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


p {
    line-height: 200%;
    vertical-align: middle;
    word-break:keep-all;
}

.bg {
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url( "earth-wallpaper.jpg" ); */
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center;
    height : 100vh;
}

.board {
    height: 100%;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.nav_bar {
    display: grid;
    padding: 0 5%;
}


#nav1 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
}

#nav2 {
    grid-template-columns: repeat(7, 1fr);
    /* width: 50%; */
    column-gap: 5%;
}

#nav3 {
    /* width: 50%; */
    grid-template-columns: 20% 20% 20% 40%;
}

#nav3 h5 {
    font-size: 0.70em;
    padding: 0 5%;
}

input {
    width: 50%;
}

#data {
    background-color: rgba(255, 255, 255, 0.5);
}

#nav_bar input {
    display: inline-block;
}
.nav_bar h4 {
    display: inline-block;
    word-break: keep-all;
}

.nav_bar h5 {
    display: inline-block;
    word-break: keep-all;
    padding: 0 5%;
}

.nav_bar h4:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}
.nav_bar h5:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}

table {
    padding: 0 5%;
}
/* 
#nav2 span {
    min-width: 80px;
    max-width: 120px;
} */

table h5 {
    display: inline-block;
}

tr td:nth-child(1) {
    width: 35%;
    text-align: center;
}

tr td:nth-child(2) {
    width: 15%;
    text-align: center;
}

tr td:nth-child(3) {
    width: 10%;
    text-align: center;
}
tr td:nth-child(4) {
    width: 15%;
    text-align: center;
}

tr td:nth-child(1) h5:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}

tr td:nth-child(2) h5:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}


.sources {
    padding: 40px 0;
}

.sources table{
    margin: 0 auto;
    align-items: center;
    padding: 0 40px;
}

.sources tfoot tr {
    height: 20px;
}

.footer {
    padding: 2% 0;
}
