body {
    background-color: #333333;
    color: whitesmoke;
    font-family: 'TSTAR', 'ChungbukNationalUniversity-Regular', Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    
}

@font-face {
    font-family: 'TSTAR';
    src:url('TSTAR-PRO-Bold.otf') format('woff'),
        url('TSTAR-PRO-Bold.otf') format('woff2');
    /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
    font-weight: 400;
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


p {
    line-height: 200%;
    vertical-align: middle;
}

.bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url( "earth-wallpaper.jpg" );
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center;
    height : 100vh;
}

.board {
    align-items: center;
    height: auto;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    width: 100%;
}

.nav_bar {
    display: grid;
}

#nav1 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
}

#nav2 {
    padding: 0 100px;
    grid-template-columns: 100px 100px 100px;
}

#data {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav_bar h3 {
    display: inline-block;
}

.nav_bar h4 {
    display: inline-block;
}

.nav_bar h3:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}
.nav_bar h4:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}

table {
    padding: 0 15%;
}

table h5 {
    display: inline-block;
}

tr td:nth-child(1) {
    width: 25%;
    text-align: center;
}

tr td:nth-child(2) {
    width: 15%;
    text-align: center;
}

tr td:nth-child(3) {
    width: 15%;
    text-align: center;
}
tr td:nth-child(4) {
    width: 15%;
    text-align: center;
}

tr td:nth-child(1) h5:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}

tr td:nth-child(2) h5:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}


.sources {
    padding-bottom: 60px;
}

.sources table{
    margin: 0 auto;
    align-items: center;
    width: 80%;
}

.sources tfoot tr {
    height: 20px;
}

/* .cart-list p {
    font-size: 12px;
} */
